# Auto detect text files and perform LF normalization
* text=auto
./f
f
f/Xray-knife/LICENSE
f/Xray-knife/README.md
f/Xray-knife/alive.txt
f/Xray-knife/cln.txt
f/Xray-knife/xray-knife.exe
f/cln.txt
f/ftch.py
